body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 300px;
}

h2 {
    margin-bottom: 15px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    background-color: #E8DFDF;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}